# Server Configuration
PORT=3000

# MongoDB Configuration
# For local MongoDB:
# MONGO_URI=mongodb://localhost:27017/studentdb

# For MongoDB Atlas (Cloud):
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority

MONGO_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/studentdb?retryWrites=true&w=majority
